<%- include("menu") -%>
<html>
<head>
    <title><%= book.btitle %></title>
    <link rel="stylesheet" href="/css/btstyle.css">
</head>

<body>
    <h1 name="btitle"><%= book.btitle %></h1>
<div class="parent">
    <div class="content">
        <h2>Author</h2>
        <p><%= book.bauthor %></p>
        <h2>Summary</h2>
        <p class="p1"><%= book.bdes %></p>
        <h2>Rating</h2>
        <p><%=rating %> (<%=num %>)</p>
        <h2>Rating</h2>
        <form action="/rat/<%=book._id%>" method="POST">
           <input type="radio" name="rating" value="1" />1
           <input type="radio" name="rating" value="2" />2
           <input type="radio" name="rating" value="3" />3
           <input type="radio" name="rating" value="4" />4
           <input type="radio" name="rating" value="5" />5
           <button class="button1" type="submit" name="submit">Submit</button>
          </form>
          <button class="button2"><a href="/downld/<%=book.btitle%>">Download</a></button> 
    </div>
     <div class="image">
            <img src="/images/b[2].jpg" alt="Image">
      </div>
</div>

<div class="commentbox">
    <h2>Add Comment</h2>
    <form action="/com/<%=book._id%>" method="POST">
        <input type="text" class="commenttitle" name="ctitle" placeholder="comment title"> 
        <textarea name="cbody" class="commentbody" placeholder="comment body"></textarea> 
        <button class="button1" type="submit" name="submit">Submit</button>
    </form>
</div>
    

    <div class="commentsection">
        <h2>Comments</h2>
    <%  comments.forEach(function(comment){ %>
        <div class="commentcontent">
            <h3><%=comment.title%></h3>
            <p><%=comment.comment%></p>
            <span><i><%=comment.author%></i> </span> 
            <span>(<%=comment.date%>)</span>
           <button class="button3"><a href="/del/<%=book._id%>/<%=comment._id%>/<%=comment.author%>">Delete</a></button>
        </div>
    
    <% }) %>
    </div>

</body>

</html>