<%- include("menu") -%>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    </head>
    <body class="bg-slate-700">
        <div class="bg-grey-lighter min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
            <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Profile</h1>
               <% if (message.length > 0) { %>
                 <h2><%= message %></h2>
                <% } %>
                    <label class="text-xl font-medium" for="name">Name</label>
                    <p  class="block bg-slate-300 border border-grey-light w-full p-3 rounded mb-4"><%=currentUser.name %></p>
                    <label class="text-xl font-medium" for="username">Username</label>
                    <p  class="block bg-slate-300 border border-grey-light w-full p-3 rounded mb-4" ><%=currentUser.username %></p>
                    <label class="text-xl font-medium" for="password">Password</label>
                     <p class="block bg-slate-300 border-grey-light w-full p-3 rounded "><%=pass%></p>
                     <span class="text-base block w-full mr-20"><a href="/changepass"> <i>Change Password</i> </a></span>
                     <!-- <button ><a href="/passdisplay/<%=pshow %>"><%=pshow%></a></button> -->
                     <label class="text-xl font-medium" for="books">Books Uploaded</label>
                     <% books.forEach(function(book){ %>
                        <div>
                            <a class="text-base mb-4 mr-4" href="booktemplate/<%=book.btitle %>"> <i> <%=book.btitle %> </i></a> 
                            <a href="/del/<%=book._id %>"><i style="font-size:18px;color:red" class="fa fa-trash-o"></i></a>
                        </div>
                    
                        <% }); %> 
                        

                    </div>
                    </div> 
            </div>
        
    </body>
</html>